.dark {
    background: #1f1e1e;
}

.dark-text {
    color: aliceblue;
}

.white {
    background: #f5f2f2;
}

.white-text {
    color: #722a2a;
}

.orange {
    background: #f16134;
}

.orange-text {
    color: #b76e05;
}