.wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    max-width: 500px;
    padding: 20px;
    margin-bottom: 20px;
    border: 2px solid #888;
}
h3{
margin-top: 0;
}
