.hw13 {
  color: #b6710c;
}
.align {
  width: 250px;
  display: flex;
  justify-content: space-around;
}
.checkBox, .button {
  padding-top: 20px;
}
.button {
  padding-top: 15px;
}

.result{
  width: 250px;
}