.button {
    margin: 10px;
    width: 60px;
    background: #2196F3;
    color: #ffffff;
    outline: none;
    border: none;
}

.button:focus {
    background: #0c3657;
}

.button:hover {
    background: #0c3657;
}

.button:active {
    background: #81b2e1;
}

.active {
    background: #0c3657;
}

.affair {
    display: flex;
}

.item {
    margin: 5px;
    width: 100px;
}

.high {
    color: red;
}

.middle {
    color: orange;
}

.low {
    color: lime;
}

.all {
    color: #81b2e1;
}
