.radio {
    appearance: none;
    height: 15px;
    width: 15px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    background: #c59d83;
}

.radio:hover {
    border: 2px solid #603c03
}

.radio:checked {
    background: #e1641b;
}

.label {
    cursor: pointer;
}