.menu {
    display: flex;
}
.link {
    text-decoration: none;
    margin: 10px;
    color: #0c3657;
}

.active {
    font-weight: bold;
}

.buttonMenu {
    width: 33px;
    height: 33px;
    border-radius: 10px;
    background-color: #f3961c;
}

.menu {
    display: flex;
    transition-duration: 500ms;
    transform: translate(-230px);

}


.menu:hover {
    transition-duration: 500ms;
    transform: translate(0);
}
