.button {
    background: #2d4262;
    box-shadow: 0 4px 18px rgba(33, 38, 143, 0.35), inset 0 1px 0 rgba(255, 255, 255, 0.2);
    border-radius: 5px;
    margin: 5px;
    color: white;
    border: none;
    padding: 6px 10px;
    cursor: pointer;
    font-size: 14px;
}
.default:hover {
    background: #496da8;
}

.default:disabled {
    color: rgba(255, 255, 255, .3);
}
.red {
    background: red;
    border: none;
    padding: 8px 28px;
    cursor: pointer;
    font-size: 16px;
}
.loadingButton {
background-color: red;
}